table span.active {
    background-color: #4CAF50 !important;
    color: #ffffff;
}

table span.noactive {
    background-color: red !important;
    color: #ffffff;
}


.disabled {
    display:none
  }

  .abled {
 
    display:inline-block
  }
  