<!-- Begin Page Content -->
<div  class="container-fluid">

    <!-- Page Heading -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <button (click)="listUsers()" class="btn btn-primary"><i class="fa fa-sync-alt"></i></button>
                Liste Utilisateurs
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Photo</th>
                            <th>Active</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th>Email</th>  
                            <th>Role</th> 
                            <th>Departement</th>                     
                            <th >Action</th>
                        
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Photo</th>
                            <th>Active</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th>Email</th>  
                            <th>Role</th> 
                            <th>Departement</th>                     
                           <th >Action</th> 
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{user.id}}</td>
                            <td>  <img class="img-profile rounded-circle" height="50" src="{{this.userService.urlUser+'/photoUser/'+user.id}}" /></td>
                            <td ><span  [ngClass]="{'active':user.activated ==true , 'noactive':user.activated ==false}">{{user.activated}}</span></td>
                            <td>{{user.firstname}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td> 
                            <td>{{user.profileUser}}</td> 
                            <td>{{user.departement.name}}</td>   

                            <td >
                                <button    class="btn btn-primary"  (click)="userDetails(user.id)">
                                    <i class="fa fa-eye"></i> 
                                    
                               </button>

                                <button  *ngIf="isAdmin"  class="btn btn-danger" > 
                                    <i class="fa fa-trash"></i>
                                </button>
                           
                                <button  *ngIf="isAdmin"  class="btn btn-success"  [ngClass]="{'disabled':user.activated ==true , 'abled':user.activated ==false}"
                                 (click)="activerCompte(user.id)">
                                    active
                                </button>
                                <button *ngIf="isAdmin"   class="btn btn-warning"   [ngClass]="{'disabled':user.activated ==false , 'abled':user.activated ==true}"
                                
                                (click)="desactiverCompte(user.id)">
                                    desactive
                                </button>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<ng-template #loggedOut>
    Please login.
  </ng-template>