<div class="row">

    <div class="col-md-12 col-md-offset-2">
        <h1>Ajout Project Type</h1>
        <form [formGroup]="addForm" (ngSubmit)="saveProjectType()">

            <div class="form-group">
                <label for="title">Name:</label>
                <input formControlName="name" id="name" type="text" class="form-control" 
                 minlength="4" maxlength="50"  >
                <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                    <div *ngIf="f.name.errors.required">name is required.</div>
                     
                </div>
            </div>

            <button [disabled]="!addForm.valid" class="btn btn-primary">
                Save
            </button>

        </form>

    </div>
</div>