

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card card-header card-primary text-primary text-center">
                <h5 class="card-title">Add Client</h5>
            </div>
            <div class="card-body">

                <form  [formGroup]="addForm" (ngSubmit)="saveClient()">

                    <!--  <div class="form-group">
                         <label>Code</label>
                         <input type="text" class="form-control" [(ngModel)]="client.code" name="code"
                             id="code">
                     </div> -->
         
                     <div class="form-group">
                         <label>Prenom</label>
                         <input type="text" class="form-control" [(ngModel)]="client.prenom" name="prenom" formControlName="prenom" 
                                [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }"  id="prenom">
                                <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                                    <div *ngIf="f.prenom.errors.required">prenom is required</div>
                                </div>
                     </div>
         
                     <div class="form-group">
                         <label>Nom</label>
                         <input type="text" class="form-control" [(ngModel)]="client.nom" name="nom" formControlName="nom"
                            [ngClass]="{ 'is-invalid': submitted && f.nom.errors }"  id="nom">
                            <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                                <div *ngIf="f.nom.errors.required">nom is required</div>
                            </div>
                     </div>
         
                     <div class="form-group">
                         <label>Adresse</label>
                         <input type="text" class="form-control" [(ngModel)]="client.adresse" name="adresse" formControlName="adresse"
                                [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }"  id="adresse">
                                <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
                                    <div *ngIf="f.adresse.errors.required">adresse is required</div>
                                </div>
                     </div>
         
                     <div class="form-group">
                         <label>Telephone</label>
                         <input type="text" class="form-control" [(ngModel)]="client.tel" name="tel" formControlName="tel"
                                [ngClass]="{ 'is-invalid': submitted && f.tel.errors }"  id="tel">
                                <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
                                    <div *ngIf="f.tel.errors.required">Telephone is required</div>
                                </div>
                     </div>
         
                     <div class="form-group">
                         <label>Email</label>
                         <input type="text" class="form-control" [(ngModel)]="client.email" name="email" formControlName="email"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  id="email">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">email is required</div>
                                </div>
                     </div>
         
         
                     <div class="text-center">
                        <button [disabled]="!addForm.valid" class="btn btn-primary mr-1">save</button>
                        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                    </div>
         
                 </form>
                 
            </div>
            <div class="card-footer">
                <div>
                    <h5 class="text-danger">{{errorMessage}}</h5> 
                </div>
            </div>
        </div>
    </div>
</div>