<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->

    <!-- DataTales Example -->
    <li *ngIf="isTechLead" class="nav-item">
        <a href="add-team"  class="btn btn-primary align-right"  routerLink="/add-team" > new team</a>
    </li>
    <div class="card shadow mb-4">
        
        <div class="card-header py-3">
          
            <h6 class="m-0 font-weight-bold text-primary">Liste des Equipes</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Teach Lead</th>
                            <th>Description</th>
                            <th  *ngIf="isTechLead">Action</th>
                        
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Teach Lead</th>
                            <th>Description</th>
                            <th *ngIf="isTechLead">Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let team of teams">
                            <td>{{team.id}}</td>
                            <td>{{team.name}}</td>
                            <td>{{team.user.firstname}} {{team.user.name}}</td>
                            <td>{{team.description}}</td>

                            <td >
                                <button  *ngIf="isTechLead"   class="btn btn-success"  (click)="editTeam(team.id)"> 
                                    <i class="fa fa-edit"></i> edit 
                                </button>
                                <button  *ngIf="isTechLead"  class="btn btn-danger"(click)="deleteTeam(team.id)" >
                                    <i class="fa fa-trash"></i>  delete
                                </button>
                            </td> 
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->