<div class="row row-cols-1 row-cols-md-3 g-4">


    <div *ngFor="let project of projects" class="col">
        <div class="card h-100">

            <div class="card card-header"><strong>{{project.name}}</strong></div>
            <div class="card-body">

                <p><strong>Team :</strong> {{project.team.name}} </p>
                <p><strong>Product Owner :</strong> {{project.userpo.name}} {{project.userpo.firstname}}</p>
                <p><strong>Teach Lead :</strong> {{project.userteach.name}} {{project.userteach.firstname}}</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" (click)="projectDetails(project.id)">
                    <i class="fa fa-eye"></i>
                </button>

                <button class="btn btn-success">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </button>

                <button  class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
    </div>



</div>