
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card card-header card-primary"> <h5 class="card-title">edit Departement</h5></div>
            <div class="card-body">
               
                <form [formGroup]="addForm" (ngSubmit)="updateDepartement()">

                    <div class="col-md-8">
                        <div class="form-group">

                            <label for="title">Name:</label>
                            <input formControlName="name" id="name"  [(ngModel)]="departement.name" type="text" class="form-control" placeholder="nom du departement"
                                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" >
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">name is required</div>
                                    </div> 
                               
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary mr-1">save</button>
                    </div>
                </form>
               
            </div>
            <div class="card-footer">
                <div>
                    <h5 class="text-danger">{{errorMessage}}</h5> 
                </div>
            </div>
        </div>
    </div> 