<div class="row">

    <div class="col-xl-8 col-lg-7">

        <!-- Area Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Détails de l'utilisateur</h6>
            </div>
            <div class="card-body">

                <div id="d1">
                    <div id="d11">
                        <div>
                            <label> <b> Id : </b></label> {{user.id}}
                        </div>
    
                        <div>
                            <label> <b> First Name : </b></label> {{user.firstname}}
                        </div>
                    
                        <div>
                            <label> <b> Last Name : </b></label> {{user.name}}
                        </div>
                        <div>
                            <label> <b> Username : </b></label>  {{user.username}}
                        </div>
                        <div>
                            <label> <b> Email : </b></label>  {{user.email}}
                        </div>
    
                        <div>
                            <label> <b> Role : </b></label>  {{user.profileUser}}
                        </div>

                    
    
                        <div>
                            <label> <b> Departement : </b></label>  {{user.departement.name}}
                        </div>
                    </div>
                    <div id="d12">
                        <img class="img-profile rounded-circle" height="300" src="{{this.userService.urlUser+'/photoUser/'+user.id}}" />

                    </div>

                </div>
               
               
        
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="list-user" routerLink="/list-user">
                    <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>retour
                </a>
                
           </div> 
        </div>
</div>