<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <li *ngIf="isTechLead || isPOwner" class="nav-item">
            <a href="add-project-type"  class="btn btn-primary align-right" routerLink="/add-project-type"> New Project Type</a>
        </li>
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List Project Type</h6>
            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Name</th>
                            <th  *ngIf="isTechLead || isPOwner" class="text-center" scope="col">Action</th>
                        
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Name</th>
                            <th *ngIf="isTechLead || isPOwner" class="text-center" scope="col">Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let item of projectTypes ">
                            <th>{{item.id}}</th>
                            <th>{{item.name}}</th>
                            <td>
                                <button  *ngIf="isTechLead || isPOwner" class="btn btn-primary"  (click)="editProjectType(item.id)">
                                   <i class="fa fa-edit"></i> edit
                                </button>
                                <button *ngIf="isTechLead || isPOwner" class="btn btn-danger" (click)="deleteProjectType(item.id)">
                                    <i class="fa fa-trash"></i>delete
                                </button>
                               
                            </td> 
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

