<div class="col-md-12">
    <div class="card card-container">
        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && saveProject()" #f="ngForm" novalidate>
            
            <div class="form-group">
                <label for="name">Name </label>
                <input type="text" class="form-control" name="name" [(ngModel)]="form.name" required
                    minlength="3" maxlength="20" #name="ngModel" />
                <div class="alert-danger" *ngIf="f.submitted && name.invalid">
                    <div *ngIf="name.errors.required">name is required</div>
                    <div *ngIf="name.errors.minlength">
                        Name must be at least 3 characters
                    </div>
                    <div *ngIf="name.errors.maxlength">
                        Name must be at most 20 characters
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Description</label>
                <textarea type="text" class="form-control" name="description" [(ngModel)]="form.description" required description
                    #description="ngModel" ></textarea>
                <div class="alert-danger" *ngIf="f.submitted && description.invalid">
                    <div *ngIf="description.errors.required">description is required</div>
                  
                </div>
            </div>

            <div class="form-group">
                <label for="name">Date Début</label>
                <input type="date" class="form-control" name="dateDebut" [(ngModel)]="form.dateDebut" #dateDebut="ngModel" required dateDebut />
                <div *ngIf="f.submitted && dateDebut.invalid">
                    <div *ngIf="dateDebut.errors.required">Date is required</div>
                </div>
            </div>

            <div class="form-group">
                <label for="name">Date Fin</label>
                <input type="date" class="form-control" name="dateFin" [(ngModel)]="form.dateFin" #dateFin="ngModel" required dateFin />
                <div *ngIf="f.submitted && dateFin.invalid">
                    <div *ngIf="dateFin.errors.required">Date is required</div>
                </div>
            </div>
            

            <!--          ------------------------------------ table etrangére------------------------- -->

            <div class="form-group">
                <label>Choisir Team</label>
                <select class="form-control" id="team" name="team" [(ngModel)]="selectedTeam" #team="ngModel" required team>
                    <option selected>.....Selectionner....</option>
                    <option *ngFor="let tea of teams" [ngValue]="tea"> {{tea.name}} </option>
                </select>
                <div class="alert-danger" *ngIf="f.submitted && team.invalid">
                    <div *ngIf="team.errors.required">team is required</div>
                </div>
            </div>

            <div class="form-group">
                <label>Client</label>
                <select class="form-control" id="client" name="client" [(ngModel)]="selectedClient" #client="ngModel" required client>
                    <option selected>.....Selectionner....</option>
                    <option *ngFor="let cli of clients" [ngValue]="cli"> {{cli.prenom}} {{cli.nom}} </option>
                </select>
                <div class="alert-danger" *ngIf="f.submitted && client.invalid">
                    <div *ngIf="client.errors.required">client is required</div>
                </div>
            </div>

            <div class="form-group">
                <label>Product Owner</label>
                <select class="form-control" id="userpo" name="userpo" [(ngModel)]="selectedUserpo" #userpo="ngModel" required userpo>
                    <option selected>.....Selectionner....</option>
                    <option *ngFor="let po of userpos" [ngValue]="po"> {{po.name}} </option>
                </select>
                <div class="alert-danger" *ngIf="f.submitted && userpo.invalid">
                    <div *ngIf="userpo.errors.required">Product Owner is required</div>
                </div>
            </div>

            <div class="form-group">
                <label>Tech Lead</label>
                <select class="form-control" id="userteach" name="userteach" [(ngModel)]="selectedUserteach" #userteach="ngModel" required userteach>
                    <option selected>.....Selectionner....</option>
                    <option *ngFor="let ust of userteachs" [ngValue]="ust"> {{ust.name}} </option>
                </select>
                <div class="alert-danger" *ngIf="f.submitted && userteach.invalid">
                    <div *ngIf="userteach.errors.required">teach lead is required</div>
                </div>
            </div>

            <div class="form-group">
                <label>Project Type </label>
                <select class="form-control" id="projectType" name="projectType" [(ngModel)]="selectedProjectType" #projectType="ngModel" required projectType>
                    <option selected>.....Selectionner....</option>
                    <option *ngFor="let pt of projectTypes" [ngValue]="pt"> {{pt.name}} </option>
                </select>
                <div class="alert-danger" *ngIf="f.submitted && projectType.invalid">
                    <div *ngIf="projectType.errors.required">Project Type is required</div>
                </div>
            </div>

            <div class="form-group">
                <label>Status Project </label>
                <select class="form-control" id="statusProject" name="statusProject" [(ngModel)]="selectedStatusProject" #statusProject="ngModel" required statusProject>
                    <option selected>.....Selectionner....</option>
                    <option *ngFor="let stpr of statusProjects" [ngValue]="stpr"> {{stpr.name}} </option>
                </select>
                <div class="alert-danger" *ngIf="f.submitted && statusProject.invalid">
                    <div *ngIf="statusProject.errors.required">Status Project is required</div>
                </div>
            </div>


         


            <div class="form-group">
                <button class="btn btn-primary btn-block">Save</button>
            </div>
            <div class="alert alert-warning" *ngIf="f.submitted && isAddProjectFailed">
                ajout project failed!<br />{{ errorMessage }}
            </div>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful">
            Your add project is successful!
        </div>
    </div>
</div>