<div class="row">


    <div  class="container">


        <div class="card card-header text-center"><strong>Project Details</strong></div>

        <img height="150" src="{{this.projectService.url+'/photoProject/'+project.id}}" />
        <button *ngIf="!editPhoto" (click)="onEditPhoto(project)">
            <i class="fa fa-upload" aria-hidden="true"></i>Edit
        </button>
        <span *ngIf="editPhoto">
            <input type="file" (change)="onSelectedFile($event)">
            <button class="btn btn-success btn-sm" (click)="uploadPhoto()">
                <span class="glyphicon glyphicon-upload">Upload</span>
            </button>
            {{progress}}
        </span>

        <div id="d1">
            <div id="d11">
               
                    <p><strong>N°  :</strong> {{project.id}} </p>
                    <p><strong>Name :</strong> {{project.name}} </p>
                    <p><strong>Date Début :</strong> {{project.dateDebut}}</p>
                    <p><strong>Date Fin :</strong> {{project.dateFin}} </p>
                    <p><strong>Estimation Jour :</strong> {{project.estimationJour}} jours </p>
                    <p><strong>Estimation heure </strong> {{project.estimationHeure}} heures </p>

             
            </div>
            <div id="d12">

                
                    <p><strong>Team :</strong> {{project.team.name}} </p>
                    <p><strong>Product Owner :</strong> {{project.userpo.name}} {{project.userpo.firstname}}</p>
                    <p><strong>Teach Lead :</strong> {{project.userteach.name}} {{project.userteach.firstname}}</p>
                    <p><strong>Client  :</strong> {{project.client.nom}} {{project.client.prenom}}</p>
                    <p><strong>Type de Projet :</strong> {{project.projectType.name}}</p>
                    <p><strong>Etat Projet :</strong> {{project.statusProject.name}}</p>
            </div>
            <p>
                <strong>Description :</strong>
               {{project.description}} 
            </p>
        </div>




        <div class="card-footer" align="center">

            <button class="btn btn-success" (click)="editProject(project.id)">
                <i class="fa fa-edit" ></i>
            </button>

            <button  class="btn btn-danger" (click)="deleteProject(project.id)">
                <i class="fa fa-trash"></i>
            </button>
        </div>

    </div>



</div>