<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card card-header">
                <h5 class="card-title">Add Task</h5>
            </div>
            <div class="card-body">


                <form  [formGroup]="addForm" class="row g-3" (ngSubmit)="saveTask()">

                    <div class="col-md-5">
                        <label for="name">Name </label> 
                        <input type="text" class="form-control" name="name" [(ngModel)]="task.name"  formControlName="name" id="name" />
                    </div>

                    <div class="col-md-5">
                        <label for="email">Description</label>
                        <textarea type="text" class="form-control" id="description" name="description" [(ngModel)]="task.description" formControlName="description"
                            ></textarea>
                
                    </div>

                    <div class="col-md-5">
                        <label for="name">Date Début</label>
                        <input type="date" class="form-control" name="dateDebut" [(ngModel)]="task.dateDebut" formControlName="dateDebut" id="dateDebut"
                             />
                       
                    </div>

                    <div class="col-md-5">
                        <label for="name">Date Fin</label>
                        <input type="date" class="form-control" name="dateFin" [(ngModel)]="task.dateFin" formControlName="dateFin" id="dateFin"
                             />
                        
                    </div>


                    <!--          ------------------------------------ table etrangére------------------------- -->

                    <div class="col-md-5">
                        <label> Developpeur</label>
                        <select class="form-control" id="developpeur" name="developpeur" [(ngModel)]="selectedDev" formControlName="developpeur"
                             >
                           
                            <option *ngFor="let dev of devs" [ngValue]="dev"> {{dev.firstname}}  {{dev.name}} </option>
                        </select>
                        
                    </div>

                    <div class="col-md-5">
                        <label>Project</label>
                        <select class="form-control" id="project" name="project" [(ngModel)]="selectedProject" formControlName="project"
                             >
                           
                            <option *ngFor="let pro of projects" [ngValue]="pro"> {{pro.name}} </option>
                        </select>
                       
                    </div>

                    <div class="col-md-5">
                        <label>Status Task</label>
                        <select class="form-control" id="statusTask" name="statusTask" [(ngModel)]="selectedStatusTask" formControlName="statusTask"
                            >
                          
                            <option *ngFor="let st of statusTasks" [ngValue]="st">  {{st.name}} </option>
                        </select>
                        
                    </div>

             


                    <div class="col-md-5" >
                        
                        <button  class="btn btn-primary">Save</button>
                    </div>

                   
                </form>



            </div>
           <div class="card-footer">
                <div>
                    <h5 class="text-danger">{{errorMessage}}</h5> 
                </div>
            </div>
        </div>
    </div>
</div>